.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	overflow: hidden;
    top: 0;
	z-index: 1;
	
	@include mq('phone-wide'){
		background-color: $white;

		&--desktop {
			display: none;
		}
	}

	.emblem {
		@include poppins;
		font-size: 75px;
		line-height: 123px;
		user-select: none;
		color: $pink;
		margin-left: 24px;
		cursor: default;

		&:hover {
			color: $grey;
		}

		@include mq('phone-wide'){
			font-size: 45px;
			line-height: 81px;
		}
	}

	&--white {
		position: static;
		.emblem {
			color: $white;
			
			&:hover {
				color: $pink;
			}
		}
	}

	&--close {
		.header__corner {
			background-color: $white;
			color: $grey;
			position: absolute;
			transform: rotate(45deg);
			height: 130px;
			width: 130px;
			top: -65px;
			right: -65px;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			cursor: pointer;

			&:hover {
				color: $pink;
			}
		}
		.emblem {
			text-shadow: 2px 2px #000;
		}
		.header__close-button {
			display: block;
			position: relative;
			height: 40px;
			width: 35px;
			margin: 0 0 8px;

			&:before {
				display: block;
				position: absolute;
				top: 50%;
				height: 5px;
				width: 35px;
				content: "";
				background-color: $grey;
			}
			&:after {
				display: block;
				position: absolute;
				transform: rotate(-90deg);
				top: 50%;
				height: 5px;
				width: 35px;
				content: "";
				background-color: $grey;
			}

			&:hover {
				&:before, &:after {
					//background-color: $pink;
				}
			}
		}
		@include mq('phone-wide'){
			display: none;
		}
	}

}
.header-mobile {
	display: none;
	
	@include mq('phone-wide'){
		display: flex;
		flex-wrap: wrap;
		position: sticky;
		overflow: hidden;
		top: 0;
		z-index: 10;

		.header {
			position: static;
		}

		.header__list, .header__link-container {
			display: none;
		}

		.header-menu__button {
			display: flex;
			height: 5px;
			width: 35px;
			background-color: $pink;
			margin-right: 24px;
			position: relative;
			
			&:before, &:after {
				display: block;
				height: 5px;
				width: 35px;
				background-color: $pink;
				content: "";
				position: absolute;

			}
			&:before {
				top: -200%;
			}
			&:after {
				bottom: -200%;
			}
		}
	}

	&--open {
		display: none;

		@include mq('phone-wide'){
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			position: fixed;
			width: 100vw;
			height: 90vh;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $grey;
			
			.header {
				background-color: $grey;
				height: 81px;
				position: static;

				&__list {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
				}
				&__list-item {
					color: $white;
					font-size: 25px;
					line-height: 53px;
					text-transform: uppercase;
					@include pop-semi-bold;
				}
				&__link-container {
					padding: 0 0 30px;
					display: block;
				}
				&__title {
					font-size: 16px;
					line-height: 22px;
					color: $white;
					text-transform: uppercase;
					@include pop-semi-bold;
				}
				&__link-list {
					display: flex;
					justify-content: space-around;
					padding-top: 10px;

					.fa {
						font-size: 32px;
						color: $white;
					}
				}
			}
			.emblem {
				color: $white;
			}
			.header-menu__button {
				background-color: $white;
				transform: rotate(-45deg);
				
				&:before, &:after {
					background-color: $white;
					transform: rotate(90deg);
					top: 0;
					bottom: 0;
				}
			}
		}
	}
}
