// * {
// 	/* css debugger lmao */
// 	background: #000 !important;
// 	color: #0f0 !important;
// 	outline : 2px solid #f00;
// }
/* --------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	//overflow-x: hidden;
}
html {
	width: 100%;
}
.body {
	width: 100%;
	
	&--noscroll {
		overflow-y: hidden;
	}
}


$breakpoints: (
	'phone-small': 350px,
	'phone': 400px,
	'phone-wide': 480px,
	'phablet': 560px,
	'tablet-small': 640px,
	'tablet': 768px,
	'tablet-wide': 1024px,
	'desktop': 1248px,
	'desktop-wide': 1440px
);