@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

* {
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, .title {
	font-family: 'share tech mono', monospace;
}

h1 {
  color: $white;
  text-transform: uppercase;
  font-size: 9.4rem;
}

h2 {
  text-transform: uppercase;
}

h3 {
  color: $heading-color;
}

.text {
	p {
    color: $text-color;
	}
}

a {
  color: $link-color;
    &:hover, &:link, &:active, &:visited {
        color: $link-color;
        text-decoration: none;
    }
}
