.about {
	background-color: $grey;
	padding: 5%;

	&__skills {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 30%;
		background-color: $pink;
		padding: 3%;
		top: 175%;
		transform: translateY(-50%);
		
		&__heading {
			width: 100% !important;
			text-align: right;
			color: $white;
			font-size: 3.75rem;
			margin: 0 0 20px 0;
			width: auto;
			float: right;
			font-weight: normal;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 5%;

			&--item {
				width: 40px;
				height: 40px;
				overflow: hidden;
				.fa {
					font-size: 42px;
					color: $white;
				}
			}
		}
	}
	
	&__block {
		display: block;
		width: 70%;
		padding: 5% 5% 10% 10%;
		float: right;
		background-color: $white;	
	}

	&__heading {
		color: $grey;
		font-size: 5rem;
		margin: 0 0 50px 0;
		width: auto;
		float: right;
	}
	
	.text {
		font-size: 1.5rem;
		color: $dust;
		width: 100%;
		text-align: justify;
		text-justify: newspaper;
	}
}
