.project {
	width: 100%;
	height: auto;
	//position: fixed;
	background-image: url("../img/backgrounds/laptop.jpg");
	background-size: cover;
	top: 0;
	left: 0;

	&__description, &__skills{
		width: 366px;
		background-color: $white;
		padding: 20px;
		margin: 20px 0 40px;
	}
	&__title {
		@include pop-semi-bold;
		font-size: 18px;
		line-height: 23px;
		color: $grey;
		text-transform: uppercase;
		padding: 0 0 15px;
	}
	&__text {
		@include roboto;
		font-size: 16px;
		line-height: 23px;
		color: $grey;
	}

	.project-list {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 30px 0;

		&__item {
			@include rob-italic;
			font-size: 16px;
			line-height: 19px;
			color: $grey;
			padding: 0 5px 5px 0;

			&:after {
				content: ",";
			}

			&:last-child {
				&:after {
					content: "";
				}
			}
		}
	}

	@include mq('phone-wide'){
		padding-top: 100vh;
		background-position: center;
	}
}
