* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
}

.section__header {
	height: 80px;
	width: 100vw;
	background-color: $secondary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.section__wrapper {
	display: flex;
	flex-wrap: nowrap;
	width: 100vw;
}