//colors
$white: #ffffff;
$black: #000000;
$pink: #ff50b9;


/* ######################## */

//main body colors
$main-color: #ffffff;
$secondary-color: #D8D8D8;
$tertiary-color: #9D9D9D;

//section headers
$header-color: #ff50b9;

// header and footer
//$extremities-color: ;

//typography color
$text-color: #000;
$link-color: #000;
$heading-color: #000;
